/* Set variables for all modes */
:root {
  --ion-color-primary: #000000;
  --ion-color-primary-shade: #F7F7F7;
 
  --ion-color-secondary: #183E74;
  --ion-color-secondary-light: #6EBEE3;
  --ion-text-input-background: #FFFFFF;
  --ion-text-input-border: #C7C5BD;

  //line-height

  --ion-line-height-type0: 20px;
  --ion-line-height-type1: 23px;
  --ion-line-height-type2:27px;
  --ion-line-height-type3:25px;

  //font-size

  --ion-font-size-type0: 20px;
  --ion-font-size-type1: 17px;
  --ion-font-size-type2: 15px;
  --ion-font-size-type3: 18px;
  --ion-font-size-type4:10px;
  --ion-font-size-type5:12px;

  //font-weight

  --ion-font-weight-type0:400;
  --ion-font-weight-type1:600;
  --ion-font-weight-type2:500;

}
