@import "../../../src/theme/variables.scss";
@import "../../../src/theme/fonts.scss";

.ion-objectlist-component{
    margin-top:5%;
}

.ion-card{
    color:black;
}
.text{
    margin: auto;
}
.native-input[disabled].sc-ion-input-ios {
 opacity: 1;
}

.ion-objects-card{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.ion-checkbox{
   width:6%;
   height: 6%;
   margin-top:auto;
   margin-bottom:auto;
   margin-left:-3%;
   margin-right:3%;
}

.ion-scan-button{
    width: 40%;
    height: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6%;
    margin-top:5%;
    --color: white;
    --opacity: 100%;
    --border-radius: 8px;
}
.ion-card-temp{
    height:18rem;
    width: 95%;
}
.ion-card-humidity{
    height:18rem;
    width: 95%;
}